<!DOCTYPE html>
<html>

<head>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114830772-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-114830772-1');
  </script>


  <title>EZ Cooking - {{categoryName}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/category.css" rel="stylesheet">
  <link href="/css/ez-styles.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/animate.min.css">

</head>

<body onload="setPageType('Category', '{{name}}');">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="dummyBar">
    <a class="navbar-brand" href="/home">
      <img class="navbar-logo"src="/images/logo-transparent.svg">
    </a>
  </nav>
  <div id="topNavBar"></div>

  <div class="container">

    <div class="row topRow">
      <div class="col-12">
        <div class="food-back">
          <img class="animated fadeIn" id="top-image" src="../images/{{categoryImage}}">
          <h3 id="title-on-black">{{categoryName}}</h3>
          <div class="fadeToBlack">
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      {{#each category }}

      <div class="col-8">
        <a class="food-link" href="../food/{{name}}">
          <img class="food-card-img" src="../images/{{image}}" alt="image">
        </a>
      </div>

      <div class="col-4 col-info">
        <a class="food-link" href="../food/{{name}}">
          <h5> {{name}}</h5>
          <p class="no-margin">{{time}}</p>
          {{!-- <p class="Rating no-margin" id="{{food}}-rating">Rating</p> --}}
        </a>
      </div>

      {{/each}}

    </div>

  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="/js/firebaseCheck.js"></script>
  <script src="/js/category.js"></script>


</body>

</html>