<!DOCTYPE html>
<html>

<head>
  <title>EZ Cooking - {{categoryName}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/category.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/animate.min.css">

  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="dummyBar">
    <a class="navbar-brand" href="/">EZ Cooking</a>
  </nav>
  <div id="topNavBar"></div>

  <img class="animated fadeIn" id="top-image" src="../images/{{categoryImage}}">

  <div class="container">

    <h3 id="top-text">{{categoryName}}</h3>

    <div class="row">

      {{#each category }}
      <div class="col-8">
        <a href="../food/{{name}}">
          <img class="food-card-img" src="../images/{{image}}" alt="Card image">
        </a>
      </div>
      <div class="col-4 col-info">
        <a class="food-link" href="../food/{{name}}">
          <h5 class="inner-name">
            {{name}}
          </h5>
          <p>{{time}}</p>
        </a>
      </div>
      {{/each}}

    </div>

  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="/js/firebaseCheck.js"></script>
</body>

</html>