<!DOCTYPE html>
<html>

<head>
  <title>EZ Cooking - {{name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/food.css" rel="stylesheet">
</head>

<body>

  <div id="topNavBar"></div>

  <div class="container">

    <h3>
      <strong>Learn to cook {{name}}</strong>
    </h3>

    <br>
  
  
    <div class="row">

      <div class="col">

        
        <a href="/">Back To Dishes</a>

      </div>

    <div class="col">

    </div>

      <div class="col">
        
        <a href="/ingTool/{{name}}">Start Cooking!</a>

      </div>
    </div>

    <div class="row food-card-img">
      <div class="col food-card-img">
        <img class="food-card-img" src="../images/{{image}}" alt="Card image">
      </div>
    </div>

    <p>{{time}}</p>
    {{#each steplist}}

    <p>{{summary}}</p>

    {{/each}}
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="/js/firebaseCheck.js"></script>
</body>

</html>