<!DOCTYPE html>
<html>

<head>
  <title>EZ Cooking - {{name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/food.css" rel="stylesheet">
</head>

<body>

  <div id="topNavBar"></div>

  <div class="container">

    <div class="row">
      <div class="col">
        <h3>{{name}}</h3>
      </div>

      <div class="col">
        
      </div>
    </div>



    <div class="row">
      <div class="col text-left">
        <button class="button">
        <a href="/category/{{category}}">Back To Dishes</a>
        </button>
      </div>

      <div class="col text-right">
        <button class="button">
        <a href="/ingTool/{{name}}">Start Cooking!</a>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <img class="img-fluid food-card-img" src="../images/{{image}}" alt="Card image">
      </div>
    </div>

    <h5>Overview: {{name}}</h5>

    <p id="eta">{{time}}</p>
    {{#each steplist}}
    <p id="steps">{{summary}}</p>
    {{/each}}

  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="/js/firebaseCheck.js"></script>
</body>

</html>

