<!DOCTYPE html>
<html>

<head>
  <title>EZ Cooking - {{name}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/food.css" rel="stylesheet">
  <link href="/css/animate.min.css" rel="stylesheet">
  <link href="/css/ez-styles.css" rel="stylesheet">

</head>

<body onload="setPageType('Food', '{{name}}');">

  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="dummyBar">
    <a class="navbar-brand" href="/">EZ Cooking</a>
  </nav>
  <div id="topNavBar"></div>

  <img id="img-top" class="animated fadeInDown" src="../images/{{image}}" alt="Card image">

  <div class="container">

    <div id="name-row" class="row">
      <div class="col-8 offset-2">
        <h5>{{name}}</h5>
      </div>
      <div class="col-2">
        <img class=" px-2 px-md-0" id="favorites-star" src="../images/favorites/star_unchecked.svg" onclick="checkIfFavorite('{{name}}', true)">
      </div>
    </div>

    <p id="eta">{{time}}</p>
    <p id="favorites-message"></p>

    <div class="row px-2 px-md-0" id="button-row">

      <div class="col-4 text-left">
        <p>
          <a href="/category/{{category}}" class="button text-no-hyperlink">Back</a>
        </p>
      </div>

      <div class="col-4 text-center">
        <p>
          <a href="/food/{{name}}/gallery" class="button text-no-hyperlink">Gallery</a>
        </p>
      </div>

      <div class="col-4 text-right">
        <p>
          <a href="/ingTool/{{name}}" class="button text-no-hyperlink">Start</a>
        </p>
      </div>

    </div>

    <div id="ti_box" class="px-2 px-md-0">
      <h3>
        <strong class="tools">Tools</strong>
      </h3>

      <div id="tools">
        <!-- Testing Columns -->
        <div class="row row-adj ">
          <!-- row 1 -->
          {{#each tools}}
          <div class="col-6">
            <p>{{tool-name}}</p>
          </div>
          {{/each}}
        </div>
      </div>
        <!-- closing row 1 -->
        <!-- closed Testing Columns -->


      <div id="ingredients">
        <h3>
          <strong>Ingredients</strong>
        </h3>
        <!-- Ingredients -->
        <div class="row row-adj">
          {{#each ingredients}}
          <div class="col-6">
            <p>{{ingredient-name}}</p>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <!-- Steps -->
    <div id="stepsbox" class="px-2 px-md-0"> 
      <h3>
        <strong>Steps</strong>
      </h3>
      {{#each steplist}}
      <p class="px-2 px-md-0">{{summary}}</p>
      {{/each}}

    </div>

    <br>
    
    <div class="row px-2 px-md-0" id="button-row">

      <div class="col-6 text-left">
        <p>
          <a href="/category/{{category}}" class="button text-no-hyperlink">Back</a>
        </p>
      </div>

      <div class="col-6 text-right">
        <p>
          <a href="/ingTool/{{name}}" class="button text-no-hyperlink">Start</a>
        </p>
      </div>

    </div>

  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="/js/firebaseCheck.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114830772-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-114830772-1');
  </script>


</body>

</html>