 <!DOCTYPE html>
<html>

<head>
  <title>EZ Cooking - {{name}} Tools and Ingredients</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/food.css" rel="stylesheet">
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="dummyBar">
    <a class="navbar-brand" href="/">EZ Cooking</a>
  </nav>
  <div id="topNavBar"></div>


  <div class="container">

    <h1>
      <strong>Here are the tools and ingredients needed for {{name}}</strong>
    </h1>

    {{#each tools}}
    	<div> <h3>{{tool-name}}</h3>

    	</div>

    {{/each}}
    <br>

    {{#each ingredients}}
    	<div> <h3> {{ingredient-name}}</h3>

    	</div>
    {{/each}}

    <br>
    <h3 id="itemsNeeded">Proceed onto cooking<h3>

    <div class="row">

      <div class="col">

        
        <a href="/">Back To Categories</a>

      </div>

    <div class="col">

    </div>

      <div class="col">
        
        <a href="/instructions/{{name}}">Learn how to cook!</a>

      </div>
    </div>

    <div class="row food-card-img">
      <div class="col food-card-img">
        <img class="food-card-img" src="../images/{{image}}" alt="Card image">
      </div>
    </div>

    
   
  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="/js/firebaseCheck.js"></script>
</body>

</html>