<!DOCTYPE html>
<html>

<head>
  <title>EZ Cooking - {{name}} Tools and Ingredients</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link href="/css/food.css" rel="stylesheet">
  <link href="/css/ez-styles.css" rel="stylesheet">

</head>

<body onload="extractTool('{{name}}');">


  <nav class="navbar navbar-expand-md navbar-dark bg-dark" id="dummyBar">
    <a class="navbar-brand" href="/">EZ Cooking</a>
  </nav>
  <div id="topNavBar"></div>


  <div class="container">

    <h3 class="center">
      <strong class="tools">Tools</strong>
    </h3>

    <!-- Testing Columns -->
    <div class="row row-adj center">
      <!-- row 1 -->
      {{#each tools}}
      <div class="col-6">
        <p>{{tool-name}}</p>
      </div>
      {{/each}}
    </div>
    <!-- closing row 1 -->
    <!-- closed Testing Columns -->

    <h3 class="center">
      <strong>Ingredients</strong>
    </h3>
    <!-- Ingredients -->
    <div class="row row-adj center">
      {{#each ingredients}}
      <div class="col-6">
        <p>{{ingredient-name}}</p>
      </div>
      {{/each}}
    </div>
    <!-- end of ingredients -->

    <h3 id="itemsNeeded">
    </h3>

    <div class="row center">
      <div class="col">
        <button class="button">
        <a class="text-no-hyperlink" href="/food/{{name}}">Back To Dish</a>
        </button>
      </div>
      <div class="col">
        <button class="button">
        <a class="text-no-hyperlink" href="/instructions/{{name}}">Next</a>
        </button>
      </div>
    </div>

  </div>

  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/toolsIngredientsFunctions.js"></script>

  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-database.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
  <script src="/js/firebaseCheck.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114830772-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114830772-1');
</script>

</body>

</html>